{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>Translation</title>
</head>
<body>
{% block content %}
    <h1>{% trans 'Salam' %}</h1>
{% endblock %}
<h3>{{ article.name }}</h3>
<a href="{% url 'about' %}">About page | {{ request.get_full_path }}</a>
<ul>
    {% for lang in LANGUAGES %}
        <li><a href="/{{ lang.0 }}/{{ request.get_full_path|slice:"4:" }}">{{ lang.1 }}</a></li>
    {% endfor %}
</ul>
</body>
</html>
